{% extends 'adminnavigation.html' %}
{% load static %}
{% block admin_body %}

<section id="signup">
  <div class="bg-light">
    <br><br>
    <div class="container">
      <h2 class="text-center">ACCEPTED NOTES</h2>
      <hr>
      <table class="table table-bordered" id=mytable>
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>Uploading date</th>
            <th>Branch</th>
            <th>Subject</th>
            <th>Download Notes</th>
            <th>File type</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
          {% for i in notes %}
          {% ifequal i.status 'accepted' %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.uploadingdate}}</td>
            <td>{{i.branch}}</td>
            <td>{{i.subject}}</td>
            <td><a href="{{i.notesfile.url}}" download>Download</a></td>
            <td>{{i.filetype}}</td>
            <td>{{i.description}}</td>
            <td>{{i.status}}</td>
          </tr>
          {% endifequal %}
          {% endfor %}
        </thead>
      </table>
    </div>
  </div>
</section>
{% endblock %}
