{% extends 'navigation.html' %} {% load static %} {% block body %}
<!-- sliding images section start -->
<section id="sliding" style="background: #f4f4f4">
  <center>
    <div class="bg-medium">
      <div class="transparentbox">
        <div class="maindiv">
          <br /><br /><br /><br /><br /><br /><br /><br />
          <h1 style="color: #fff; font-size: 4rem; margin-bottom: 2rem">
            <span class="text-primary">Welcome Man! <br /></span>
            Find all the notes you need <br />
            <span class="text-primary">right here!!<br /></span>
          </h1>
        </div>
      </div>
      <br /><br />
    </div>
  </center>
</section>
<!-- sliding images section end -->
<!-- follow steps section start -->
<section id="steps" class="bg-medium">
  <h3 data-aos="fade-up" class="text-center text-danger mt-10">
    So, how does this work?
  </h3>
  <hr />
  <br />
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div
          data-aos="fade-right"
          data-aos-delay="200"
          class="text-center box-1"
        >
          <p class="semicircle">
            <i
              class="fa fa-user-circle"
              style="font-size: 45px; padding-top: 15px; color: black"
            ></i>
          </p>
          <p class="semicircleBottom" style="color: white">
            Create Account as<br />Student/Teacher
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div data-aos="fade-up" data-aos-delay="200" class="text-center box-1">
          <p class="semicircle">
            <i
              class="fa fa-sign-in"
              style="font-size: 45px; padding-top: 15px; color: black"
            ></i>
          </p>
          <p class="semicircleBottom" style="color: white">
            Login as<br />Student/Teacher
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <div data-aos="fade-up" data-aos-delay="200" class="text-center box-1">
          <p class="semicircle">
            <i
              class="fa fa-upload"
              style="font-size: 45px; padding-top: 15px; color: black"
            ></i>
          </p>
          <p class="semicircleBottom" style="color: white">Upload Notes</p>
        </div>
      </div>
      <div class="col-sm-3">
        <div
          data-aos="fade-left"
          data-aos-delay="200"
          class="text-center box-1"
        >
          <p class="semicircle">
            <i
              class="fa fa-download"
              style="font-size: 45px; padding-top: 15px; color: black"
            ></i>
          </p>
          <p class="semicircleBottom" style="color: white">Download Notes</p>
        </div>
      </div>
    </div>
    <br />
  </div>
</section>
<!-- follow steps section end -->
{% endblock %}
