<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Notes Sharing Website</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/full.css' %}" />

    <script>
      function number_validator() {
        let a = document.getElementById("mobile").value;
        if (a.length == 13 && a.slice(0, 3) == "+91") {
          a = a.slice(3, a.length);
        } else if (a.length == 14 && a.slice(0, 4) == "+91 ") {
          a = a.slice(4, a.length);
        }
        if (isNaN(a)) {
          document.getElementById("alert").innerHTML =
            "** PLEASE FILL ONLY NUMBERS";
          return false;
        } else if (a.length != 10) {
          document.getElementById("alert").innerHTML =
            "** PLEASE ENTER A 10 DIGIT NUMBER";
          return false;
        } else if (
          a.charAt(0) != "9" &&
          a.charAt(0) != "8" &&
          a.charAt(0) != "7"
        ) {
          document.getElementById("alert").innerHTML =
            "** PLEASE ENTER NUMBER STARTING FROM 9,8 OR 7";
          return false;
        }
      }
    </script>
  </head>
  <body>
    <!-- navbar start -->
    <nav id="navbar">
      <h2>
        <a href="#"><span class="text-primary">Notes</span> Sharing</a>
      </h2>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        <li><a href="{% url 'userlogin' %}">Login</a></li>
        <li><a href="{% url 'adminlogin' %}">Admin Login</a></li>
      </ul>
    </nav>
    <!-- navbar end -->
    {% block body %} {% endblock %}
    <!-- footer start -->
    <footer class="bg-dark">
      <p>
        <span class="text-primary">Python Mini Project</span>
      </p>
      <p>Contributors: Aryan Parekh, Deap Daru</p>
      <p>SAP ID: 60004190013, 60004190025</p>
    </footer>
    <!-- footer end  -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true,
        duration: 1000,
      });
    </script>
  </body>
</html>
