{% extends 'usernavigation.html' %}
{% load static %}
{% block user_body %}
<section id="profile" class="bg-light ">
  <div class="container ">
    <br>
    <h2 class="text-center mt-5">USER PROFILE</h2>
    <hr>
    <div class="row mt-3">
      <div class="col-md-6">
        <p><b>Full Name :</b></p>
        <hr>
        <p><b>Email ID :</b></p>
        <hr>
        <p><b>Contact Number :</b></p>
        <hr>
        <p><b>Branch :</b></p>
        <hr>
        <p><b>Student/Teacher :</b></p>
        <hr>

      </div>
      <div class="col-md-6" >
        <p style="text-transform:capitalize;">{{data.user.first_name}} {{data.user.last_name}}</p>
        <hr>
        <p>{{data.user.username}}</p>
        <hr>
        <p>{{data.contact}}</p>
        <hr>
        <p>{{data.branch}}</p>
        <hr>
        <p>{{data.role}}</p>
        <hr>
      </div>
    </div>
  </div>
  <br>
</section>

{% endblock %}
